<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link href="~/fontawesome-free-5.15.3-web/css/all.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h1>Portfolio</h1>
                <div class="headimgs-div">
                    <a href="https://www.instagram.com/gashietnik00"><img src="https://brandslogo.net/wp-content/uploads/2016/06/Instagram-logo.png" id="headimg" /></a>
                    <a href="https://www.facebook.com/gashietnik00"><img src="https://cdn.worldvectorlogo.com/logos/facebook-3-2.svg" id="headimg" /></a>
                    <a href="https://github.com/gashietnik00"><img src="https://seeklogo.com/images/G/github-logo-5F384D0265-seeklogo.com.png" id="headimg" /></a>
                    <a href="mailto:gashietnik00@gmail.com"><img src="https://cdn3.iconfinder.com/data/icons/user-interface-web-1/550/web-circle-circular-round_67-512.png" id="headimg" /></a>
                </div>
            </div>
        </nav>
    </header>

    <div style="background-image: url(https://wallpaperaccess.com/full/5651978.png); background-repeat: no-repeat; background-size: cover; ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="footer-div">
            <div class="footer-about-div">
                <h4>Etnik Gashi</h4>
                <h6><i class="fas fa-phone" style="padding-right: 4px;"></i>+383 45 872 210</h6>
                <h6><i class="fas fa-envelope-square" style="padding-right: 4px;"></i>gashietnik00@gmail.com</h6>
                <h6><i class="fas fa-map-marker-alt" style="padding-right: 4px;"></i>Rr. Hys Popova, Lagjja Arberia, 10000 Prishtine(Kosovo)</h6>
            </div>

            <div class="footer-contact-div">
                <h4>You can find me in these links below:</h4>
                <a href="https://www.instagram.com/gashietnik00"><img src="https://brandslogo.net/wp-content/uploads/2016/06/Instagram-logo.png" id="headimg" /></a>
                <a href="https://www.facebook.com/gashietnik00"><img src="https://cdn.worldvectorlogo.com/logos/facebook-3-2.svg" id="headimg" /></a>
                <a href="https://github.com/gashietnik00"><img src="https://seeklogo.com/images/G/github-logo-5F384D0265-seeklogo.com.png" id="headimg" /></a>
                <a href="mailto:gashietnik00@gmail.com"><img src="https://cdn3.iconfinder.com/data/icons/user-interface-web-1/550/web-circle-circular-round_67-512.png" id="headimg" /></a>
            </div>
        </div>
    </footer>

    <script>
        function myFunction() {
            alert("You just downloaded my CV!");
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
